{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Add a Student{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="container">
        <h3>Add a Student To The Class</h3>
        <form class="form form-horizontal" action="/student/add" method="post">
            <input type="text" name="firstname" placeholder="First Name" required="required">
            <input type="text" name="lastname" placeholder="Last Name" required="required">
            <input class="btn btn-success" type="submit" value="Add Student">
        </form>
        <a href="/dashboard" button type="button" class="btn btn-primary">Back to Dashboard</a></button>
    </div>
{% endblock %}