{% extends 'base.html' %}


{% block header %}
  <h1>{% block title %}Teacher Dashboard{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h3>Student Roster</h3>
            <table class="table">
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Student Grades</th>
                {% for student in student_roster %}
                <tr>
                    <td>{{ student.1 }}</td>
                    <td>{{ student.2 }}</td>
                    <td><a href="/student/{{student['studentid']}}" class="viewstudent">View</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="row">
            <h3>Class Quizzes</h3>
            <table class="table">
                <th scope="col">Subject</th>
                <th scope="col">Num. of Questions</th>
                <th scope="col">Date</th>
                {% for quiz in quiz_roster %}
                <tr>
                    <td>{{ quiz.1 }}</td>
                    <td>{{ quiz.2 }}</td>
                    <td>{{ quiz.3 }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="btn-group"role="group" aria-label="Basic example">
                <a href="/student/add" button type="button" class="btn btn-primary">Add a Student</a></button>
                <a href="/quiz/add" button type="button" class="btn btn-primary">Add a Quiz</a></button>
                <a href="/results/add" button type="button" class="btn btn-primary">Add a Quiz Result</a></button>
        </div>
    </div>
{% endblock %}